:root {
  --main-green-color: #28a745;

  --main-white-text-color: #ffffff;
  --second-white-text-color-hero: #e9e9e9;

  --main-black-text-color: #333333;

  --blue-background-color: #0284d0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.image {
  display: block;
}

/* ------ HEADER ------ */

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
}

.logo {
  display: flex;
  font-size: 35px;
  line-height: 1.2;
  color: var(--main-green-color);
  padding: 0;
}

.logo-item {
  color: var(--main-white-text-color);
}

.logo-image {
  margin-right: 10px;
}
/* ------ NAVIGATION-MENU ------ */

.menu {
  display: flex;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
}

.menu-link {
  padding-top: 20px;

  color: var(--main-white-text-color);
}

.menu-item {
  margin-right: 40px;
}

.menu-item:last-child {
  margin-right: 0;
}

/* ------ HERO ------ */

.section-hero {
  padding-top: 230px;
  padding-bottom: 292px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(.jpg), url(../images/hero-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 768px;
  max-width: 1360px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.main-title {
  margin: 0;
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  color: var(--second-white-text-color-hero);
}

.hero-item {
  margin-top: 0;
  font-size: 22px;
  line-height: 1.68;
  color: var(--second-white-text-color-hero);
}

.hero-button {
  padding: 10px 30px;

  min-width: 165px;

  border: 0px;
  border-radius: 5px;

  font-family: inherit;
  font-size: 18px;
  line-height: 1.6;
  color: var(--main-white-text-color);
  background-color: var(--main-green-color);

  cursor: pointer;
}

/* ------ SECTION-SOLUTION 2------ */

.section-solution {
  background-color: var(--main-green-color);
}

.section-solution .about-text {
  font-size: 20px;
  line-height: 1.65;
  color: var(--main-white-text-color);
}

.solution-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: var(--main-white-text-color);
}

.section-solution .info-item {
  font-size: 18px;
  line-height: 1.6;
  color: var(--main-white-text-color);
}

.solution-button {
  border: 1px solid var(--main-white-text-color);
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.6;
  color: var(--main-white-text-color);
}

/* ------ SECTION-BUSINESS-CASES-3 ------ */

.section-business {
}

.section-business .about-text {
  font-size: 20px;
  line-height: 1.65;
  color: var(--main-black-text-color);
}

.section-business .business-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: var(--main-black-text-color);
}

.section-business .info-item {
  font-size: 18px;
  line-height: 1.6;
  color: var(--main-black-text-color);
}

.section-business .business-list {
}

/* ------ SECTION-BLOG-POST-ONE-4 ------ */

.section-post {
  background-color: var(--blue-background-color);
}

.section-post .text-time {
  font-size: 20px;
  line-height: 1.65;
  color: var(--main-white-text-color);
}

.section-post .post-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: var(--main-white-text-color);
}

.section-post .info-item {
  font-size: 18px;
  line-height: 1.6;
  color: var(--main-white-text-color);
}

.section-post .post-button {
  font-size: 18px;
  line-height: 1.6;
  color: var(--main-white-text-color);
  padding: 10px 36px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
